body{
    background-color: rgb(255, 255, 255);
}
h1{
    color: black;
}
.centrar{
    margin: auto;
    display: flex;
    justify-content: center;
}
.amarillo{
    background-color: yellow;
    height: 250px;
}
.azul{
    background-color: rgb(55, 0, 255);
    height: 250px;
}
.rojo{
    background-color: red;
    height: 250px;
}
p{
    color: rgb(5, 5, 5);
}